<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean class="springprogram5.Address" id="addrID">
    	<property name="houseno" value="1" />
    	<property name="city" value="Begusarai" />
    	<property name="pincode" value="851011"></property>	
    </bean>
    
    <bean class="springprogram5.Student" id="stdID">
    	<property name="name" value="Ravi" />
    	<property name="rollno" value="44" />
    	<property name="address" ref="addrID" />
    </bean>

</beans>